<mat-tab-group class="h-100" [color]="'accent'">
	<mat-tab label="All">
		<mat-grid-list cols="2" rowHeight="3:1">
			<mat-grid-tile *ngFor="let book of allBooks$ | async">
				<mat-card>
					<mat-card-header>
						<img mat-card-sm-image [src]="book.cover" />
						<mat-card-title-group>
							<mat-card-title class="ps-4">{{
								book.title
							}}</mat-card-title>
							<mat-card-subtitle class="ps-4"
								>Reviews: {{ book.reviewsNumber }} Rating:
								{{ book.rating }}</mat-card-subtitle
							>
						</mat-card-title-group>
					</mat-card-header>
					<mat-card-actions align="end">
						<button
							class="me-2"
							mat-mini-fab
							aria-label="Edit"
							(click)="openDetails(book.id)"
						>
							<mat-icon>remove_red_eye</mat-icon>
						</button>
						<button
							mat-mini-fab
							aria-label="View"
							(click)="onEditBook(book.id)"
						>
							<mat-icon>edit</mat-icon>
						</button>
					</mat-card-actions>
				</mat-card>
			</mat-grid-tile>
		</mat-grid-list>
	</mat-tab>
	<mat-tab label="Recomended">
		<mat-grid-list cols="2" rowHeight="2:1">
			<mat-grid-tile *ngFor="let book of recommendedBooks$ | async">
				<mat-card>
					<mat-card-header>
						<img mat-card-sm-image [src]="book.cover" />
						<mat-card-title-group>
							<mat-card-title class="ps-4">{{
								book.title
							}}</mat-card-title>
							<mat-card-subtitle class="ps-4"
								>Reviews: {{ book.reviewsNumber }} Rating:
								{{ book.rating }}</mat-card-subtitle
							>
						</mat-card-title-group>
					</mat-card-header>
					<mat-card-actions align="end">
						<button
							class="me-2"
							mat-mini-fab
							aria-label="Edit"
							(click)="openDetails(book.id)"
						>
							<mat-icon>remove_red_eye</mat-icon>
						</button>
						<button
							mat-mini-fab
							aria-label="View"
							(click)="onEditBook(book.id)"
						>
							<mat-icon>edit</mat-icon>
						</button>
					</mat-card-actions>
				</mat-card>
			</mat-grid-tile>
		</mat-grid-list>
	</mat-tab>
</mat-tab-group>
