/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
	background: #5a5a5a;
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
	background: #8d8d8d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #868686;
}
